<!DOCTYPE html>
<html>
  <head>
    <title>YimYum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <%= favicon_link_tag asset_path('logo.png') %>
    <script type="text/javascript"> 
        window.logo = "<%= image_url("logo.png") %>"
        window.upload = "<%= image_url("upload.png") %>"
        window.uploadSymbol = '<%= image_url('upload-symbol.svg') %>'
        window.commentSymbol = '<%= image_url('comment-symbol.svg') %>'
        window.likeSymbol = '<%= image_url('like-symbol.svg') %>'
        window.shareSymbol = '<%= image_url('share-symbol.svg') %>'
        window.verifiedCheck = '<%= image_url('verified-check.svg') %>'
        window.pause = '<%= image_url('pause.svg') %>'
        window.play = '<%= image_url('play.svg') %>'
        window.soundMuted = '<%= image_url('sound-muted.svg') %>'
        window.dropdownArrow = '<%= image_url('dropdown-arrow.svg') %>'
        window.backTop = '<%= image_url('backTop.svg') %>'
        window.following = '<%= image_url('following.svg') %>'
        window.house = "<%= image_url('home-foryou.svg') %>"
        window.videoIcon ='<%= image_url('online-video.svg') %>'
        window.defaultPic ='<%= image_url('blank-profpic.svg') %>'

    </script>
 
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
